#mainpage-main{
		background: url('../img/rembrbg-tile.jpg');
	background-repeat: repeat-x;
}
#timeline li{
	list-style: none;
	width: 100%;
	background: white;
	font-size: small;
	margin: 3px 0px;
	padding: 5px;
	text-align: center;
}
#timeline a{
	color: rgba(107,107,107,1);
}
#timeline .months li{
	background: transparent;
	text-align: left;
	font-size: smaller;
	
}
#timeline .active{
	background: #dfdfdf;
	
}
.feed{
}
.top{
	font-size: small;
	text-align: left;
	padding: 0px 1px;
	
	
}
.buttons{
	font-size: small;
	text-align: left;
	
}
.buttons a{
	color: #5e5e5e
}
.edit_submit{
	opacity: .9;

}
.edit_text{
	
	width: 92%;
	background: rgba(0,0,0,0.8);
	color: white;
	border-style: none;
	border-radius: 0px;
	text-align: center;

}

.edit_text_wrapper{
	position: absolute;
	padding: 20px;
	height: 100px;
	width: 100%;
}

.droptext{
	  width: 96%;
	border-radius:10px;
	border-style: dashed;
	border-color: #cacaca;
	position: relative;
	min-height: 100px;
	overflow: hidden;
	padding: 2%;
	
}
#all_kids{
	float: left;
	margin: 10px 0px 10px 0px
}
.kid{
	float: left;
	margin: 0px 5px 5px 0px;
}
.droptext textarea{

}
.thetext{
	background: white;
	width: 92%;
	border-style: dotted;
	border-color: #cacaca;
	padding: 15px;
}	
.text-wrapper input{
	border: none;
	line-height: 30px;
	height:40px;
	background: whitesmoke
}
.text-wrapper textarea{
	border: none;
	line-height: 30px;
	height:40px;
	background: whitesmoke
}
.text-wrapper{
  	width: 100%;
  	margin-bottom: 14px;
  	padding: 5px;
  	background:white;
  	margin-left:-20px;
  	padding-left:10px;
  	font-size: small;
  		line-height: 15px;
  		max-height: 362px;

}

.text-wrapper {
	position: relative;
	background: #fffafa;
	border: 2px solid #24595f;
	border-radius: 3px;
}
.text-wrapper:after, .text-wrapper:before {
	right: 100%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.text-wrapper:after {
	border-color: rgba(255, 250, 250, 0);
	border-right-color: #fffafa;
	border-width: 10px;
	top: 50%;
	margin-top: -10px;
}
.text-wrapper:before {
	border-color: rgba(189, 189, 189, 0);
	border-right-color: #24595f;
	border-width: 13px;
	top: 50%;
	margin-top: -13px;
}
.image-wrapper{
	
  	width: 100%;
	border-style: dashed;
	border-color: transparent;
	position: relative;
	overflow: hidden;
	background: whitesmoke;
}

video{
	width: 100%;
	background: black;
	
}	
img{
}						
/*-------------------------
	Dropbox Element
--------------------------*/

.textbox{
		
    width: 100%;
	border-radius:10px;
	border-style: dashed;
	border-color: #cacaca;
	position: relative;
	min-height: 100px;
	overflow: hidden;
	padding: 5px;
	text-align: center;
	margin: 20px;

}
.textbox textarea{
	border: none;

}
.textbox textarea:focus{
	outline: none;
}
.dropbox{
		
    width: 100%;
	border-radius:10px;
	border-style: dashed;
	border-color: #cacaca;
	position: relative;
	min-height: 100px;
	overflow: hidden;
	text-align: center;
	margin-bottom: 20px;

}


.dropbox .message{
	font-size: 20px;
    padding-top:25px;
    display: block;
    	color:#ccc;

}


.dropbox:before{
	border-radius:3px 3px 0 0;
}



/*-------------------------
	Image Previews
--------------------------*/



.dropbox .preview, .image-wrapper .preview{
	width:100%;
	height: 100%;
	float:left;
	position: relative;
	text-align: center;
}

.preview img{
	width: 100%;
	display: block;
}

.dropbox .imageHolder, .image-wrapper .imageHolder{
	display: inline-block;
	position:relative;
	
}

.dropbox .uploaded{
	
}

.dropbox .preview.done .uploaded{
	display: block;
}



/*-------------------------
	Progress Bars
--------------------------*/



.dropbox .progressHolder{
	position: absolute;
	background-color:#00b641;
	height:12px;
	width:100%;
	left:0;
	bottom: 0;
	
	box-shadow:0 0 2px #000;
}

.dropbox .progress{
	background-color:#007a2b;
	position: absolute;
	z-index: 100;
	height:100%;
	left:0;
	width:0;
	box-shadow: 0 0 1px rgba(255, 255, 255, 0.4) inset;
	-moz-transition:0.25s;
	-webkit-transition:0.25s;
	-o-transition:0.25s;
	transition:0.25s;
}

.dropbox .preview.done .progress{
	width:100% !important;
}





/* OVERLAY */

.overlay{
    background:transparent url("../img/overlay.png");
    position:fixed;
    top:0px;
    bottom:0px;
    left:0px;
    right:0px;
    z-index:100;
}

.box{
    position:absolute;
    top:-1000px;
    left:25%;
    right:25%;
    background-color:#fff;
    color:#7F7F7F;
    padding:20px;
    border:2px solid #ccc;
    -moz-border-radius: 20px;
    -webkit-border-radius:20px;
    -khtml-border-radius:20px;
    -moz-box-shadow: 0 1px 5px #333;
    -webkit-box-shadow: 0 1px 5px #333;
    z-index:101;
}

a.boxclose{
    float:right;
    width:26px;
    height:26px;
    background:transparent url("../img/cancel.png") repeat top left;
    margin-top:-30px;
    margin-right:-30px;
    cursor:pointer;
}

.box h2{
    border-bottom: 1px dashed #7F7F7F;
    margin:-20px -20px 20px -20px;
    padding:10px;
    background-color:#f0f7ff;
    color:#78b0f0;
    -moz-border-radius:20px 20px 0px 0px;
    -webkit-border-top-left-radius: 20px;
    -webkit-border-top-rigåht-radius: 20px;
    -khtml-border-top-left-radius: 20px;
    -khtml-border-top-right-radius: 20px;
}
#all_milestones{
}
#top-nav{
	padding: 20px;
}
.top-bg{
}
.top-bg h1{
	font-size: 45pt;
	padding: 0px 0px 40px;
	font-family: "Noteworthy";
}
.top-bg h3{
	font-size: 20pt;
	padding: 0px 0px 15px;
}
.register-form{
	
	padding: 10px;
	background: white;
	border-radius: 10px;
	border: 10px solid rgba(137,137,137,0.67);
		margin: 10px;

	margin-bottom: 50px;
}
.register-form input{
	border: none;
	line-height: 30px;
	height:40px;
	background: whitesmoke
}
.register-button{
	background: #09e2e5;
	border: none;
	padding: 15px;
	font-size: large;
	color: #f0f0f0;
}
.register-button:hover{
	background: #97fdff;
	color: #8d8d8d;
	
}
.log-button{
	background: #046f71;
	border: none;
	color: white;
	padding: 5px 10px;
}
.log-button:focus{
		background: #0ba6a8;

}
.log-button:hover{
	background: #0ba6a8;
	
}

#line{
	stroke:#24595f;
	stroke-width:5;
}
#myline{
}

.top-button{
	border-left:1px solid #2f7179;
		border-right:1px solid #173a40;

	text-align: center;
	height: 34px;
	padding: 5px;
}

.top-button a{
	margin: 10px;
}
.log{
	padding-top: 10px;
		height: 29px;

}
